@media (max-width:600px) {
    header, 
    main {
        background-color: red;
        width: 100%;
        font-size: 11px;
    }
}

@media (max-width:800px) and (min-width: 600px) {
    header {
        background-color: green;
        width: 60%;
        font-size: 12px;
    }

    main {
        background-color: blue;
        width: 30%;
        font-size: 12px;
    }

}

@media (min-width: 800px) {
    header {
        background-color: violet;
        width: 80%;
        font-size: 14px;
    }

    main {
        background-color: yellow;
        width: 15%;
        font-size: 14px;
    }

}





